*{
    width: 100%;
}
h1{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    margin-top: 10px
}
.dialog-title{
    text-align: center;
    color: var(--primary-color);
}
.formUp{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.item{
    margin-top: 20px;
    width: 80%;
    padding: 5px 5px;
    margin: 2em;
    flex-wrap: wrap;
}
input{
    margin-top: 20px;
    background-color: #efefef;
    flex-wrap: wrap;
    border-color: #efefef;
    color: #707070 !important;
    padding-left: 2px;
    border-style: solid;
    width: 35%;
    height: 25px;
    border-width: 2px;
    border-radius: 6px;
    font-size: 12px;
}