<form [formGroup]="formSities" novalidate autocomplete="off">
  <h1 class="dialog-title">{{data?.title}} {{ subtitle }}</h1>
  <div class="formUp">
    <div class="item">
      <div class="content">
        <mat-label class="label">Nombre</mat-label>
        <input matInput type="text" formControlName="name" />
      </div>
      <div class="content">
        <mat-label class="label">Dirección</mat-label>
        <input matInput type="text" formControlName="address" />
      </div>
      <div class="content">
        <mat-label class="label">Teléfono</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
      </div>
      <div class="content">
        <mat-label class="label">Ciudad</mat-label>
        <input matInput type="text" formControlName="city" />
      </div>
    </div>
    <div class="contentStatus">
      <mat-label class="label">Estado</mat-label>
      <mat-button-toggle-group
        #statusToggleButton
        mat
        Tooltip="Indica si el registro esta activo o inactivo"
        formControlName="status"
      >
        <mat-button-toggle [value]="true" checked="{{ sites }}">Activo</mat-button-toggle>
        <mat-button-toggle [value]="false" checked="{{ !sites }}">Inactivo</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="buttonAction">
    <button  class="buttonAcept button--accept" (click)="onSubmit()">
      <span class="mat-button-wrapper">Guardar</span>
    </button>
    <button mat-button class="button button--cancel" type="button" [mat-dialog-close]="true">
      Cancelar
    </button>
  </div>
</form>
