.head {
    display: flex;
    padding: 2em;
}

.text {
    margin: auto;
    text-align: center;
}

.content {
    padding-bottom: 4em;
    width: 80%;
    margin: auto;
    position: relative;
}

.button--accept {
    display: block;
    margin-left: auto;
}

// TABLA
table {
    margin-top: 1em;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 6px 10px 3px #00000029;
}

th {
    border-color: transparent transparent #707070 transparent;
}

td {
    border-color: transparent;
}

.rowheader,
.row {
    text-align: center;
}

.rowheader {
    font-size: 1.3em;
    font-weight: bold;
    color: #9a9a9a;
}

.row {
    font-size: 1em;
    color: #787878;
}

.loading-shade {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.15);
}

.level {
    display: inline-block;
    height: auto;
    margin: auto;
    padding: 0 2em;
    color: white;
    border-radius: 15px;
    padding: 0 2em;
}

.none {
    background-color: #a2a2a2;
}

.blue {
    background-color: #a1d2e8;
}

.orange {
    background-color: #f9aa6d;
}

.green {
    background-color: #71de8e;
}

.layer {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #de1920;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.layer2 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px #de1920;
    font-size: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 10px 0 0;
}

.layer2:hover {
    justify-content: space-between;
    animation-name: hover;
    animation-duration: 100ms;
    animation-delay: 100ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes hover {
    0% {
        width: 30px;
    }
    50% {
        width: 50px;
    }
    100% {
        width: 75px;
        border-radius: 17px;
        font-size: 13px;
        font-weight: 550;
        color: #de1920;
        padding: 0 12px 0 0;
    }
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.chip__status {
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 9px;
}

.chip__status--active {
    background-color: #D1EAD2;
    color: #68BC6C;
    padding: 3px 14px;
}

.chip__status--inactive {
    background-color: #F5CFCC;
    color: #E06055;
}

@media screen and (min-width: 1450px) {
    .content {
        font-size: 1.4em;
    }
    .layer {
        width: 45px;
        height: 45px;
    }
    .layer2 {
        width: 45px;
        height: 45px;
    }
    .chip__status {
        font-size: 14px;
        border-radius: 15px;
    }
    @keyframes hover {
        0% {
            width: 45px;
        }
        100% {
            width: 100px;
            border-radius: 40px;
            font-size: 16px;
            padding-right: 15px;
        }
    }
}