<button (click)="location.back()" class="button-back" mat-mini-fab aria-label="back button"></button>
<div class="header background">
  <div class="title__container">
    <h1 class="main-title">Administración de roles</h1>
  </div>
</div>
<div class="main">
  <div fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="5">
    <mat-card fxFlex="20">
      <mat-card-content>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="selectRol(rol)" *ngFor="let rol of roles" [value]="rol._id">
            {{rol.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="75">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Permisos">
            <div class="button__container">
              <div class="layer2" (click)="onSave()">
                <div mat-button class="layer">
                  <mat-icon>save</mat-icon>
                </div>
                Guardar
              </div>
            </div>
            <mat-selection-list *ngIf="rolSelected else messageRol" #listCtrl>
              <div *ngFor="let category of categories">
                <p class="list-title">{{category}}</p>
                <mat-list-option #optionCtrl *ngFor="let option of filterOptions(category)" [value]="option.name">
                  {{option.description}}
                </mat-list-option>
              </div>
            </mat-selection-list>
          </mat-tab>
          <mat-tab label="Usuarios">
            <div class="mat-elevation-z8">
              <div class="button__container">
                <div class="layer2" (click)="addUser()">
                  <div mat-button class="layer">
                    <mat-icon>add</mat-icon>
                  </div>
                  Agregar
                </div>
              </div>
              <div *ngIf="rolSelected else messageRol">
              <div fxLayout="row" fxLayoutAlign="center none">
                <table mat-table fxFlex="100" [dataSource]="dataSourceUsers">
                  <!-- Nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>
  
                  <!-- Correo Column -->
                  <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                  </ng-container>
  
                  <!-- Area Column -->
                  <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> Área </th>
                    <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                  </ng-container>
  
                  <!-- Opciones Column -->
                  <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> 
                      <button mat-icon-button (click)="onDeleteUser(element)">
                        <mat-icon class="delete">delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <div fxLayout="row" >
                <mat-paginator fxFlex="100" [pageSize]="4"></mat-paginator>
            </div>
          </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <ng-template #messageRol><div>Debes de seleccionar un rol</div></ng-template>
    </mat-card>
  </div>
</div>