<div class="container">
    <h1 class="main-title">Administrar Perfilamiento</h1>
    <h3 class="main-subtitle">Elige una opción para continuar con el proceso</h3>
</div>

<div class="card__container" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card *ngFor="let card of cards" [routerLink]="card.url" class="card">
        <img class="card__image" src="{{ API_MUNDO_SETI }}{{ card.imagePath }}" [alt]="card.name">
        <h1 class="card__title">{{ card.name }}</h1>
        <p class="card__description"> {{ card.description  }}</p>
    </mat-card>
</div>
