<body class="main-container">
    <!-- <button routerLink="/home" class="button-back" mat-mini-fab aria-label="back button"></button> -->
    <button (click)="redirect()" class="button-back " mat-mini-fab aria-label="back button "></button>
    <div fxLayout="column">
        <div class="title__container">
            <h1 class="main-title">Habilidades SETI</h1>
            <p class="main-subtitle">Elige una opción para continuar con el proceso</p>
        </div>
        <div class="card__container" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-card *ngFor="let card of cards" [routerLink]="card.url" class="card">
                <img class="card__image" src="{{ API_MASTER_INFO }}{{ card.imagePath }}" [alt]="card.name" appNotImage>
                <h1 class="card__title">{{ card.name }}</h1>
                <p class="card__description"> {{ card.description }}</p>
            </mat-card>
        </div>
    </div>

</body>