.container {
    padding-top: 5px;
    text-align: center;
    background-image: url('../../../../assets/images/adminprofiles_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
}

.card__container {
    margin-top: 2em;
    padding: 0 0 3em;
}
