<div class="dialog__container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="dialog__close-button">
    <button mat-icon-button class="icon__close" (click)="dialogRef.close('close')">
      <mat-icon >close</mat-icon>
    </button>
  </div>
  <mat-icon class="dialog__icon dialog__icon--{{data.type}}">{{data.icon}}</mat-icon>
  <h1 class="dialog__title">{{data.title}}</h1>
  <p class="dialog__subtitle">{{data.message}}</p>
  <div class="dialog__buttons">
    <button (click)="dialogRef.close(false)" class="dialog__button dialog__button-close"
      mat-button>{{data.contraryAction || 'Cancelar'}}</button>
    <button (click)="dialogRef.close(true)"
      class="dialog__button dialog__button-continue dialog__button-continue--{{data.type}}"
      mat-button>{{data.action || 'Aceptar'}}</button>
  </div>
</div>
