.container {
    padding: 12px 15px;
    max-width: 40em;
    max-height: 30em;
  }
  
  .close-button {
    position: relative;
    bottom: 10px;
    left: 12px;
  }
  .close-button__icon {
    font-size: 18px;
    font-weight: 600;
    color: #5a5a5a;
    // #8a8a8a
  }
  .title {
    color: #d8232a;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
  }
  
  .list {
    padding-inline-start: 20px;
  }
  
  .list__item {
    font-size: 15px;
    margin-bottom: 5px;
    color: #5a5a5a;
  }
  