<div class="container" fxLayout="row" fxLayoutAlign="center center">

  <!-- <mat-card mat-card class=" mat-elevation-z6">

    <mat-card-subtitle class="subtitle">
      <h2><strong>Movimientos</strong></h2>
    </mat-card-subtitle>

    <mat-card-content> -->

      <div class="filter" fxLayoutAlign="center center">
        <mat-form-field style="margin-bottom: 20px;">
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Daniel Molina">
        </mat-form-field>
      </div>

    <!-- </mat-card-content>
  </mat-card> -->


  <div class="mat-elevation-z7">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
        <td mat-cell *matCellDef="let row"> {{ row.cedula }} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{ row.nombre | titlecase }} </td>
      </ng-container>

      <!-- Recibido Column -->
      <ng-container matColumnDef="entregado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibido </th>
        <td mat-cell *matCellDef="let row"> {{ row.entregado | titlecase }} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{ row.fecha | date:'short'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
  </div>
</div>
