<form [formGroup]="formHistory" novalidate autocomplete="off" fxLayout="column" class="form">
  <h1 class="form__title">Reporte de Historial</h1>
  <div fxLayout="row">
    <div class="item" fxFlex="60">
      <mat-form-field floatLabel="always" appearance="none">
        <mat-label class="label">Nombre Completo</mat-label>
        <input readonly matInput type="text" formControlName="author" class="disabled">
        <app-validator [form]="formHistory" name="author"></app-validator>
      </mat-form-field>
    </div>
    <div class="item" fxFlex="40">
      <mat-form-field floatLabel="always" appearance="none">
        <mat-label class="label">Fecha</mat-label>
        <input matInput type="date" formControlName="date">
        <app-validator [form]="formHistory" name="date"></app-validator>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div class="item" fxFlex="100">
      <mat-form-field floatLabel="always" appearance="none">
        <mat-label class="label">Descripción de los Cambios</mat-label>
        <textarea formControlName="descriptionChanges" matInput class="form__textarea"></textarea>
        <app-validator [form]="formHistory" name="descriptionChanges"></app-validator>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog__options">
    <button mat-button class="button button--accept" (click)="onSave()">Guardar</button>
    <button mat-button class="button button--cancel" [mat-dialog-close]="true">Cancelar</button>
  </div>
</form>
