<mat-toolbar class="mat-toolbar mat-elevation-z7">
  <img routerLink="/home" src="../../../assets/images/logoSetiBlanco.png" alt="seti logo">
  <div style="width: 15px;"></div>
  <span>Movimientos</span>
  <span class="spacer"></span>

  <!-- [matMenuTriggerFor]="settingsMenu" -->
  <button mat-icon-button aria-label="settings button with a menu">
    <mat-icon>settings</mat-icon>
  </button>
  <!-- <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item >
      <mat-slide-toggle>Dark mode</mat-slide-toggle>
    </button>
  </mat-menu> -->

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="profile button with a menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>person_outline</mat-icon>
      <span>Perfil</span>
    </button>
    <button routerLink="/login" (click)="logout()" mat-menu-item>
      <mat-icon>arrow_forward</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>
