<mat-toolbar class="mat-toolbar mat-elevation-z7">
    <img routerLink="/home" src="../../../assets/images/logoSetiBlanco.png" alt="seti logo">
    <div style="width: 15px;"></div>
    <span>App Sitios Web</span> &nbsp;
    <small><p><sub>v{{version}}</sub></p></small>
    <span class="spacer"></span>

    <button *ngIf="hideQrIcon()" mat-icon-button [routerLink]="['/home']" matTooltip="Generar código QR" aria-label="Example icon-button with a menu">
    <mat-icon>home</mat-icon>
  </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Reportes" aria-label="Example icon-button with a menu">
    <mat-icon>event_note</mat-icon>
  </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/generateqr']">
      <mat-icon>qr_code_2</mat-icon>
      <span>Generar código QR</span>
    </button>
        <!-- movements button -->
        <button mat-menu-item [routerLink]="['/movements']">
      <mat-icon>directions_run</mat-icon>
      <span>Movimientos</span>
    </button>

        <!-- temp button -->
        <button mat-menu-item [routerLink]="['/temperature']">
      <mat-icon
        class="temp-icon"
        matSuffix
        fontSet="fas"
        fontIcon="fa-thermometer-three-quarters"
      >
      </mat-icon>
      <span>Temperatura</span>
    </button>

        <!-- kit button -->
        <button mat-menu-item [routerLink]="['/kits']">
      <mat-icon
        class="kit-icon"
        matSuffix
        fontSet="fas"
        fontIcon="fa-medkit"
      >
      </mat-icon>
      <span>Kit de salud</span>
    </button>

    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" matTooltip="Más opciones" aria-label="profile button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #profileMenu="matMenu">

        <!-- profile button -->
        <!-- <button mat-menu-item disabled>
      <mat-icon>person_outline</mat-icon>
      <span>Perfil - (dev)</span>
    </button> -->

        <!-- settings button -->
        <!-- <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span>Ajustes - (dev)</span>
    </button> -->

        <!-- <mat-divider></mat-divider> -->

        <button mat-menu-item [routerLink]="['/login']" (click)="logout()">
      <mat-icon>arrow_forward</mat-icon>
      <span>Salir</span>
    </button>

    </mat-menu>

</mat-toolbar>