<div class="background">
  <div class="container">
    <h1 class="title">{{title}}</h1>
    <h3 class="subtitle">{{description}}</h3>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="space-between center" class="card" *ngFor="let item of items">
      <h1 class="card__title">{{item.title}}</h1>
      <!-- <mat-accordion>
        <mat-expansion-panel [hideToggle]="profile.levels.length !== 0 ? false : true" class="panel" *ngFor="let profile of item.content">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel__title">
              {{profile.profile}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button type="button" class="panel__level-button" *ngFor="let level of profile.levels" mat-button >{{level}}</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->
      <div class="option__container" fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let profile of item.content">
          <button [id]="profile.id" class="option" mat-button>
            <mat-icon [ngStyle]="{'display': x ? 'none' : 'inline'}" aria-hidden="false" class="option__icon"
              aria-label="row down">keyboard_arrow_down</mat-icon>
            <mat-icon [ngStyle]="{'display': x ? 'none' : 'inline'}" aria-hidden="false" class="option__icon"
              aria-label="row right">keyboard_arrow_right</mat-icon>
            {{profile.profile}}
          </button>
          <div [id]="profile.id" fxLayout="row" fxLayoutAlign="start center">
            <button type="button" class="panel__level-button" *ngFor="let level of profile.levels"
              mat-button>{{level}}</button>
          </div>
        </div>
      </div>


      <img class="card__image" [src]="item.image" alt="">
    </mat-card>
  </div>
</div>
