<mat-toolbar class="mat-toolbar">
  <img class="logo__style" src="../../../../assets/images/logoSetiBlanco.png" alt="seti logo">
  <span>Mundo SETI</span>
  <span class="spacer"></span>

  <div *ngIf="hideMenuSites()">

    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Reportes">
      <mat-icon>event_note</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <!-- movements button -->
      <button mat-menu-item [routerLink]="['/movements']">
        <mat-icon>directions_run</mat-icon>
        <span>Movimientos</span>
      </button>

      <!-- temp button -->
      <button mat-menu-item [routerLink]="['/temperature']">
        <mat-icon class="temp-icon" matSuffix fontSet="fas" fontIcon="fa-thermometer-three-quarters">
        </mat-icon>
        <span>Temperatura</span>
      </button>

      <!-- kit button -->
      <button mat-menu-item [routerLink]="['/kits']">
        <mat-icon class="kit-icon" matSuffix fontSet="fas" fontIcon="fa-medkit">
        </mat-icon>
        <span>Kit de salud</span>
      </button>

    </mat-menu>

  </div>

  <div *ngIf="hideOptions()">
    <button mat-icon-button [routerLink]="['/home']" matTooltip="Inicio">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/login']" matTooltip="Salir" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>
