<div style="padding: 20px">
    <h1 mat-dialog-title>Solicitar Disponibilidad</h1>
    <div mat-dialog-content>
      <div class="container">
      <div class="fechas" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field appearance="legacy" fxFlex="45">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="pickerStart" style="border-style: none" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>
      
          <mat-form-field appearance="legacy" fxFlex="45">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="pickerEnd" style="border-style: none" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
      </div>
        <mat-form-field appearance="legacy">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="Observaciones" style="border-style: none;" cols="50" rows="60"></textarea>
          <mat-hint>Ingrese las observaciones</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" cdkFocusInitial>Enviar</button>
      <button mat-button (click)="onNoClick()">Cerrar</button>
    </div>
  </div>
  
