<div class="header center">
    <img class="logo_seti" src="assets/images/logo-seti-blanco.svg">
</div>

<h2 mat-dialog-title class="main-title center">Información Candidato</h2>
<mat-dialog-content class="mat-typography">
    <div class="pading_container">
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Nombre del Candidato</mat-list-item>
                    <mat-list-item role="listitem" class="center">{{info_Candidate?.fullName}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Tipo de Documento</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.typeIdentification}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Identificación</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.numberIdentification}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Ciudad</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.city}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">País</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.country}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Fuente</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.source}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Correo Electrónico</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.email}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Teléfono</mat-list-item>
                    <mat-list-item role="listitem" *ngFor="let item of info_Candidate?.phone">{{item?.type + " " +
                        item?.prefix + " " + item?.number}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="60px">

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Tarjeta Profesional
                    </mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.professionalCard}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Aspiración Mínima</mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.minAspiration |
                        currency:'CAD':'symbol-narrow':'1.0-0'}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Aspiración Máxima
                    </mat-list-item>
                    <mat-list-item role="listitem">{{info_Candidate?.maxAspiration |
                        currency:'CAD':'symbol-narrow':'1.0-0'}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>


        <h4 class="main-title center" *ngIf="info_Candidate?.workExperience.length > 0">Experiencia Laboral</h4>


        <mat-grid-list cols="3" rowHeight="60px" *ngFor="let item of info_Candidate?.workExperience">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Nombre Empresa</mat-list-item>
                    <mat-list-item role="listitem">{{item.company}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Cargo Ejercido</mat-list-item>
                    <mat-list-item role="listitem">{{item.charge}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Salario</mat-list-item>
                    <mat-list-item role="listitem">{{item.wage | currency:'CAD':'symbol-narrow':'1.0-0'}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Fecha Inicio</mat-list-item>
                    <mat-list-item role="listitem">{{item.timeStart | date}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Fecha Fin</mat-list-item>
                    <mat-list-item role="listitem">{{item.timeEnd | date}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>

        <h4 class="main-title center" *ngIf="info_Candidate?.languages.length > 0">Idiomas</h4>

        <mat-grid-list cols="4" rowHeight="60px" *ngFor="let languaje of info_Candidate?.languages">

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Idioma</mat-list-item>
                    <mat-list-item role="listitem">{{languaje.name}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Escritura</mat-list-item>
                    <mat-list-item role="listitem">{{languaje.writing}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Lectura</mat-list-item>
                    <mat-list-item role="listitem">{{languaje.reading}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Habla</mat-list-item>
                    <mat-list-item role="listitem">{{languaje.speaking}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

        </mat-grid-list>

        <h4 class="main-title center" *ngIf="info_Candidate?.levelStudy.length > 0">Niveles de Estudio</h4>

        <mat-grid-list cols="2" rowHeight="60px" *ngFor="let study of info_Candidate?.levelStudy">

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Estudio</mat-list-item>
                    <mat-list-item role="listitem">{{study.type}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Tipo</mat-list-item>
                    <mat-list-item role="listitem">{{study.name}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>


        <h4 class="main-title center" *ngIf="info_Candidate?.knowledgeCharge.length > 0">Conocimientos</h4>

        <mat-grid-list cols="2" rowHeight="60px" *ngFor="let skill of info_Candidate?.knowledgeCharge">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Dominio</mat-list-item>
                    <mat-list-item role="listitem">{{skill.domain}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mat-dialog-title">Área</mat-list-item>
                    <mat-list-item role="listitem">{{skill.knowledgeArea}}
                        <mat-icon matTooltipClass="custom-tooltip" [matTooltip]="skill.description" class="content__icon">help</mat-icon>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>

        <h4 class="main-title center">Observaciones</h4>

        <mat-grid-list cols="1" rowHeight="60px">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-list role="list">
                    <mat-list-item role="listitem">{{info_Candidate?.observations}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="button" class="button--cancel" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
