.mat-dialog-actions{
    position: absolute;
    bottom: 91px;
    left: 65%;
}

.header{
    background-color: var(--primary-color);
    color: #fff;
}

.center{
    text-align: center;
}

.logo_seti{
    width: 8%;
}

.mat-dialog-title{
    color: red;
}