.component {
    background-image: url('../../../assets/images/background_home.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100% - (45px + 30px));
    background-color: #fff !important;
}

.description {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.description img {
    display: flex;
    align-self: center;
    height: 500px;
    width: 600px;
    object-fit: contain;
}

.description__content {
    width: 50%;
    // max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__content--tittle {
    text-align: center;
    line-height: normal;
    font-size: 3em;
    color: #de1920;
}

.description__content--text {
    text-align: center;
    line-height: normal;
    font-size: 1.5em;
    color: #707070;
    margin: 1em 0 2em 0;
    padding: 0 2em;
}

.button {
    background-color: #de1920;
    color: white;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-in-out 0.4s;
}

.separator {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.separator__circle {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #de1920;
  margin: 0 5px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  // padding-top: 12px;
}

mat-card {
    outline: none !important;
}

mat-card:hover {
    cursor: pointer;
}

.text {
  max-width: 700px;
  line-height: normal;
  font-size: 15px;
  color: #707070;
  text-align: center;
  margin: 12px 16em;
  position: absolute;
}

mat-card {
    margin: 1em;
    width: 17em;
    min-height: 25em;
    background-color: #ffffff;
    border-radius: 38px;
    box-shadow: 3px 6px 12px 3px #00000029 !important;
    cursor: pointer;
    outline: none;
}

mat-card img {
    display: block;
    margin: auto;
    width: 15em;
    height: 15em;
}

mat-card:hover {
    background-color: #f9eeee;
    transition: all 0.5s;
}

mat-card-title {
    margin: 2em 0 10px 0 !important;
    color: #de1920;
    text-align: center;
    font-size: 17px;
}

mat-card-content p {
    color: #707070;
    text-align: center;
}

.button:hover {
    box-shadow: inset 400px 0 0 0 #fff;
    color: #de1920;
    border: solid 1px #de1920;
}

@media screen and (min-width: 1450px) {
    .description__content--tittle {
        font-size: 4.5em;
    }
    .description__content--text {
        font-size: 2.3em;
    }
    .button {
        font-size: 1.8em;
        padding: .5em 1.5em;
        border-radius: 40px;
        height: 40px;
    }
    .text {
        max-width: 1000px;
        font-size: 2.5em;
    }
    .separator__circle {
        width: 1.5em;
        height: 1.5em;
    }
    mat-card {
        width: 20em;
        min-height: 30em;
    }
    mat-card img {
        width: 17em;
        height: 17em;
    }
    mat-card-title {
        font-size: 2em;
    }
    mat-card-content p {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1750px) {
    .description img {
        height: 650px;
        width: 800px;
    }
}
  
.button_home{
    border: solid 1.5px #de1920;
    background-color: #fff;
    color: #de1920;
    height: 26px;
    padding: 0 1em !important;
    border-radius: 20px !important;
    line-height: 0px !important;
    width: 7em;
    align-self: center;
    margin-top: 13px;
    transition: ease-in-out 0.4s;
}

.button_home:hover {
    box-shadow: inset 400px 0 0 0 #de1920;
    //box-shadow: inset 400px 0 0 0 #fff;
    color: #fff;
    border: solid 1px #de1920;
}

.icon{
  font-weight: bold;
  margin-right: 3px;
  font-size: 15px;
  height: 15px;
}

.icon.arrow-down{
    width: 19px;
}
