<div class="dialog__title">
    <h2 mat-dialog-title> {{ data?.title }}</h2>
</div>
<mat-dialog-content>
    <form [formGroup]="form" novalidate autocomplete="off">
        <div fxLayout="row" fxLayoutGap="5px">
            <div class="item" fxFlex="30">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Nombre</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Nombre">

                </mat-form-field>
            </div>
            <div class="item" fxFlex="70">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Descripción</mat-label>
                    <input matInput formControlName="description" placeholder="Descripción">

                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <div class="item" fxFlex="calc(25% - 5px)">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Fecha de creación</mat-label>
                    <input matInput type="date" formControlName="createdAt" placeholder="Fecha de creación" readonly>
                </mat-form-field>
            </div>
            <div class="item" fxFlex="calc(25% - 5px)">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Fecha de modificación</mat-label>
                    <input matInput type="date" formControlName="updatedAt" placeholder="Fecha de modificación"
                        readonly>
                </mat-form-field>
            </div>
            <div class="item" fxFlex="calc(25% - 5px)">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Tipo</mat-label>
                    <input matInput type="text" formControlName="type" placeholder="Tipo">
                </mat-form-field>
            </div>
            <div class="item" fxFlex="calc(10% - 5px)">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Estado</mat-label>
                    <mat-slide-toggle formControlName="status"></mat-slide-toggle>
                    <input matInput hidden>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="manage_images.includes(data?.url)" fxLayout="row" fxLayoutGap="5px">
            <div class="item" fxFlex="25">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">URL</mat-label>
                    <input matInput type="text" formControlName="url" placeholder="Url del módulo">
                </mat-form-field>
            </div>
        </div>

    </form>
    <div class="dialog__options">
        <button mat-button class="button--accept" (click)="onSubmit()">Guardar</button>
        <button mat-button class="button--cancel" [mat-dialog-close]="true">Cancelar</button>
    </div>

</mat-dialog-content>