<body class="background">
  <button routerLink="/selection-profiles" class="button-back" mat-mini-fab aria-label="back button">
  </button>
  <div fxLayout="column">
    <div class="title__container">
      <h1 class="title">{{title}}</h1>
    </div>

    <form [formGroup]="filterDomainArea">
      <div fxLayout="row" fxLayoutAlign="start end" class="main">
        <div class="item" fxFlex="15">
          <mat-form-field floatLabel="always" appearance="none">
            <mat-label>Selecciona un Dominio</mat-label>
            <mat-select placeholder="Clic para seleccionar" formControlName="domain" (selectionChange)="getArea('New')">
              <mat-option value="">Ver Todo</mat-option>
              <mat-option *ngFor="let domain of dataDomain" [value]="domain.name">{{domain.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="item" fxFlex="15">
          <mat-form-field floatLabel="always" appearance="none">
            <mat-label>Selecciona una Área</mat-label>
            <mat-select placeholder="Clic para seleccionar" (selectionChange)="addArea($event.value)">
              <mat-select-trigger>{{getInfoArea()}}</mat-select-trigger>
              <mat-option value="Ver Todo">Ver Todo</mat-option>
              <mat-option *ngFor="let area of knowledge" [value]="area">{{area.knowledgeArea}}
                <mat-icon matTooltipClass="custom-tooltip" [matTooltip]="area.specificKnowledge" class="content__icon"  >help </mat-icon>
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="!filterDomainArea.controls['domain'].valid && filterDomainArea.controls['area'].touched">Selecciona primero un dominio</mat-error> -->
          </mat-form-field>
        </div>

        <div class="button__container" fxLayoutAlign="end end">
          <div class="layer2" (click)="openDialog('Agregar')">
            <div mat-button class="layer">
              <mat-icon>add</mat-icon>
            </div>
            Añadir
          </div>
        </div>
      </div>
    </form>


    <div class="table__container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <input matInput class="filter" (keyup)="filterRegister($event.target.value,'fullName')" type="text"
                autocomplete="off">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.fullName}}</td>
        </ng-container>

        <ng-container matColumnDef="numberIdentification">
          <th mat-header-cell *matHeaderCellDef> Número de Documento
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <input matInput class="filter" (keyup)="filterRegister($event.target.value,'numberIdentification')" type="text"
                autocomplete="off">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.numberIdentification}}</td>
        </ng-container>

        <ng-container matColumnDef="processStatus">
          <th mat-header-cell *matHeaderCellDef> Estado del Proceso
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <mat-select (selectionChange)="filterRegister($event.value,'processStatus')">
                  <mat-option value="">Ver Todos</mat-option>
                  <mat-option *ngFor="let status of processStatus" [value]="status">{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <label class="chip__status"
                [ngClass]="{'chip__status--seleccionado': element.processStatus === 'Seleccionado', 'chip__status--descartado': element.processStatus === 'Descartado', 'chip__status--proceso': element.processStatus === 'En Proceso'}">
                {{element.processStatus}}
              </label>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>Ciudad
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <mat-select (selectionChange)="filterRegister($event.value,'city')">
                  <mat-option value="">Ver Todos</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.city}}</td>
        </ng-container>

        <ng-container matColumnDef="minAspiration">
          <th mat-header-cell *matHeaderCellDef> Aspiración Salarial
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <mat-select (selectionChange)="filterRegister($event.value,'salario')">
                  <mat-option value="">Ver Todos</mat-option>
                  <mat-option *ngFor="let rango of rangosSalarial" [value]="rango.id">{{rango.view}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.minAspiration | currency:'CAD':'symbol-narrow':'1.0-0' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Ver Herramientas"
              (click)="openDialog('Herramientas',element.numberIdentification)">
              <mat-icon class="table__buttons edit">description</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Ver Hv" (click)="openDialog('Ver',element.numberIdentification)">
              <mat-icon class="table__buttons history">find_in_page</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Asociar GLPI" (click)="openDialog('Asociar',element._id)">
              <mat-icon class="table__buttons add_glpi">how_to_reg</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</body>