<div class="dialog__title">
  <h2 mat-dialog-title> Agregar usuario</h2>
</div>
<mat-dialog-content>
    <div fxLayout="row">
      <div class="item" fxFlex="100">
        <mat-form-field floatLabel="always" appearance="none">
          <mat-label class="label">Nombre de usuario</mat-label>
          <input matInput type="text" [formControl]="dataInfo" placeholder="nombre del usuario"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getValue.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  <div class="dialog__options">
    <button mat-button [ngClass]="{'button--accept': this.dataInfo.value !== null || this.dataInfo.value !== '' ,'button--disabled': this.dataInfo.value == null || this.dataInfo.value == ''}" [disabled]="this.dataInfo.value == null || this.dataInfo.value == ''" (click)="saveInfo()">Guardar</button>
    <button mat-button class="button button--cancel" [mat-dialog-close]="true">Cancelar</button>
  </div>
</mat-dialog-content>