<body class="background">
  <button *ngIf="showBackButton" (click)="onClickbuttonBack()" class="button-back" mat-mini-fab
    aria-label="back button">
  </button>
  <button *ngIf="!showBackButton" routerLink="/admin-profiles" class="button-back" mat-mini-fab
    aria-label="back button">
  </button>
  <div class="container" >
    <h1 class="title">{{title}}</h1>
    <h3 class="subtitle">{{description}}</h3>
  </div>

  <div class="card__container" fxLayout="column" fxLayoutAlign="center center">
    <div *ngFor="let items1 of rowsArray" fxLayout="row">
      <mat-card #card (click)="onCardClicked(item)"
        [ngClass]="{'card--open': cardClicked === item._id && !item.submenu}" fxLayout="column"
        fxLayoutAlign="start center" class="card" *ngFor="let item of items1">
        <h1 class="card__title">{{item.name}}</h1>
        <div [ngStyle]="{'display': cardClicked === item._id ? 'block' : 'none'}" fxLayout="column"
          fxLayoutAlign="start start">

          <div *ngFor="let profile of item.content">
            <button (click)="optionClicked = profile._id" [id]="profile._id" class="option" mat-button>
              <ng-container *ngIf="profile.levels.length !== 0">
                <mat-icon [ngStyle]="{'display': optionClicked !== profile._id ? 'none' : 'inline'}" aria-hidden="false"
                  class="option__icon" aria-label="row down">keyboard_arrow_down</mat-icon>
                <mat-icon [ngStyle]="{'display': optionClicked === profile._id ? 'none' : 'inline'}" aria-hidden="false"
                  class="option__icon" aria-label="row right">keyboard_arrow_right</mat-icon>
              </ng-container>
              {{profile.profile}}
            </button>
            <div class="pannel__level-buttons" *ngIf="optionClicked === profile._id" fxLayout="row"
              fxLayoutAlign="start center">
              <button type="button" class="panel__level-button" *ngFor="let level of profile.levels"
                mat-button>{{level}}</button>
            </div>
          </div>
        </div>

        <img [ngClass]="{'card__image--open': cardClicked === item._id && !item.submenu}" class="card__image"
          src="{{ API_MUNDO_SETI }}{{ item.imagePath }}" alt="">
      </mat-card>
    </div>
  </div>
  <!--
  <div class="card__container" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card [ngClass]="{'card--open': cardClicked === item.id && !item.sections}" (click)="onCardClicked(item)"
      fxLayout="column" fxLayoutAlign="start center" class="card" *ngFor="let item of items">
      <h1 class="card__title">{{item.title}}</h1>

      <div *ngIf="cardClicked === item.id" class="option__container" fxLayout="column" fxLayoutAlign="start start">

        <div *ngFor="let profile of item.content">
          <button (click)="optionClicked = profile.id" [id]="profile.id" class="option" mat-button>
            <ng-container *ngIf="profile.levels.length !== 0">
              <mat-icon [ngStyle]="{'display': optionClicked !== profile.id ? 'none' : 'inline'}" aria-hidden="false"
                class="option__icon" aria-label="row down">keyboard_arrow_down</mat-icon>
              <mat-icon [ngStyle]="{'display': optionClicked === profile.id ? 'none' : 'inline'}" aria-hidden="false"
                class="option__icon" aria-label="row right">keyboard_arrow_right</mat-icon>
            </ng-container>
            {{profile.profile}}
          </button>
          <div class="pannel__level-buttons" *ngIf="optionClicked === profile.id" fxLayout="row"
            fxLayoutAlign="start center">
            <button type="button" class="panel__level-button" *ngFor="let level of profile.levels"
              mat-button>{{level}}</button>
          </div>
        </div>
      </div>

      <img [ngClass]="{'card__image--open': cardClicked === item.id && !item.sections}" class="card__image"
        [src]="item.image || item.sections.image" alt="">
    </mat-card>
  </div> -->

</body>
