::ng-deep .mat-step-header .mat-step-icon {
  background-color: #fff;
  border: 1px solid #de1920;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #de1920;
  border-style: none;
  background-image: url(../../../../assets/images/marca-de-verificacion.svg);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #fff;
  border: 1px solid #de1920;
}

.history{
  height: auto;
  width: 50%;
  border-radius: 9px;
  box-shadow: rgb(130 130 169 / 25%) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 6px 0;
}
.history__section {
  display: flex;
  flex-direction: column;
}

 .history-information__title {
  font-size: 12px;
  color: #707070;
  font-weight: 550;
}

.history-information__pagraph {
  font-size: 12px;
  color: #959595;
}
::ng-deep .mat-step-label{
  color: #b7b7b7 !important;
  font-weight: 500;
  font-size: 15px;
}
::ng-deep .mat-step-label-selected{
  color: #707070 !important;
  font-weight: 600;
}
::ng-deep .mat-step-header:hover{
background-color: transparent
}

.stepper__container {
  margin: 3em 3em;
  overflow-y: scroll;
  height: 75vh;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #de1920;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}

h1.hitory__title {
  font-size: 20px;
  font-weight: 600;
  color: #9a9a9a;
  text-align: center;
  line-height: 5;
}

