<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="50">
    <mat-vertical-stepper #stepper>
      <mat-step *ngFor="let step of history" (click)="onStepClicked(step.id)">
        <mat-card class="history">
          <div class="history__information">
            <p class="history-information__pagraph">
              <mat-label class="history-information__title">Autor del cambio: </mat-label>{{step.name}}
            </p>
          </div>
          <div class="history__section">
            <p class="history-information__pagraph">
              <mat-label class="history-information__title">Descripción: </mat-label>{{step.description}}
            </p>
          </div>
          <div class="history__section">

            <p class="history-information__pagraph">
              <mat-label class="history-information__title">Fecha: </mat-label>{{step.date}}
            </p>
          </div>
        </mat-card>
      </mat-step>
      <ng-template matStepperIcon="number"></ng-template>
      <ng-template matStepperIcon="edit"></ng-template>
    </mat-vertical-stepper>
  </div>
  <div fxFlex="50">
    <h1>{{historyId}}</h1>
  </div>
</div>
