<div class="dialog__title">
    <h2 mat-dialog-title>title</h2>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">

    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="25" class="item">
            <mat-form-field appearance="none" floatLabel="always">
                <mat-label>Nombre del perfil</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div fxFlex="25" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label class="label">Niveles</mat-label>
                <mat-select>
                    <mat-option>
                        ejemplo
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Formación Acadeica</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Certificaciones Requeridas</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="25" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Experiencia Profesional</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="25" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Exp Específica en el Cargo</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="40" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Conocimientos Específicos del Cargo</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="40" class="item">
            <mat-form-field floatLabel="always" appearance="none">
                <mat-label>Funciones del Rol</mat-label>
                <mat-select>
                    <mat-option>Ejemplo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="dialog__options">
        <button mat-button class="button--accept">Guardar</button>
        <button mat-button class="button--cancel" [mat-dialog-close]="true">Cancelar</button>
    </div>

</mat-dialog-content>