<div class="dialog__title">
    <h2 mat-dialog-title>{{data.title}}</h2>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">

    <form [formGroup]="form" novalidate autocomplete="off">

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="50" class="item">
                <mat-form-field appearance="none" floatLabel="always">
                    <mat-label>Nombre del perfil</mat-label>
                    <input formControlName="charge" matInput type="text">
                    <app-validator [form]="form" name="charge"></app-validator>
                </mat-form-field>
            </div>
            <div fxFlex="50" class="item">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label class="label">Niveles</mat-label>
                    <mat-select formControlName="level">
                        <mat-option value="no aplica">
                            No Aplica
                        </mat-option>
                        <mat-option value="n1">
                            Nivel 1
                        </mat-option>
                        <mat-option value="n2">
                            Nivel 2
                        </mat-option>
                        <mat-option value="n3">
                            Nivel 3
                        </mat-option>
                    </mat-select>
                    <app-validator [form]="form" name="level" [otherIcon]="true"></app-validator>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="35" class="item">
                <mat-form-field appearance="none" floatLabel="always">
                    <mat-label>Creado el</mat-label>
                    <input formControlName="createdAt" matInput type="date" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="35" class="item">
                <mat-form-field appearance="none" floatLabel="always">
                    <mat-label>Actualizado el</mat-label>
                    <input formControlName="updatedAt" matInput type="date" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="30" class="item">
                <mat-form-field appearance="none" floatLabel="always">
                    <mat-label>Estado</mat-label>
                    <mat-button-toggle-group formControlName="status">
                        <mat-button-toggle [value]="true">Activo</mat-button-toggle>
                        <mat-button-toggle [value]="false">Inactivo</mat-button-toggle>
                    </mat-button-toggle-group>
                    <input matInput hidden>
                </mat-form-field>
            </div>
        </div>

    </form>

    <div class="dialog__options">
        <button mat-button class="button--accept" (click)="onSubmit()">Guardar</button>
        <button mat-button class="button--cancel" [mat-dialog-close]="true">Cancelar</button>
    </div>

</mat-dialog-content>