.mat-button-toggle {
    height: 25px !important;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #707070;
    width: 5.9em !important;
}

.mat-button-toggle-disabled {
    background-color: #efefef;
    color: #cccccc;
}

.mat-button-toggle-checked {
    color: #ffffff !important;
    background-color: #daafaf;
}