.mat-dialog-title{
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}

.message{
    font-weight: 500;
}

.contenido{
    margin: 3%;
}

mat-card{
    margin-bottom: 5%;
}


.mat-dialog-actions{
    position: absolute;
    bottom: 18px;
    left: 55%;
}

.glpi{
    height: 20px;
    width: 36px;
}



