<h2 mat-dialog-title>Información necesaria</h2>
<form [formGroup]="case" (ngSubmit)="saveRegister()" autocomplete="">
    <div class="contenido">
        <h4 class="message">Para asignar a esta persona a una requisición pendiente, seleccione el número de GLPI.</h4>
        <!-- <form [formGroup]="case" autocomplete="off"> -->
            <div fxLayout="row" fxLayoutAlign="center center">
                <div appearance="none" fxFlex="10">
                    <div mat-button class="layer" (click)="addCase()">
                        <mat-icon>add</mat-icon>
                    </div>
                </div>
                <div fxFlex="50">
                    <mat-select placeholder="Seleccione un número de requisición" (selectionChange)="getInfoCase()" formControlName="number">
                      <mat-option *ngFor="let number of number_cases" [value]="number.id">{{number.id}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!case.controls['number'].valid && case.controls['number'].touched">Requisición requerida</mat-error>
                </div>
                <div fxFlex="40" class="contenido">
                    <label *ngIf="info_case == ''">Sin solicitante seleccionado por número de GLPI</label>
                    <label *ngIf="info_case != ''"><b>Solicitante:</b> {{info_case[0]?.firstName + " " + info_case[0]?.realName}}</label>
                </div>
            </div>
        <!-- </form> -->
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="info_case != ''">
                <mat-card class="mat-form-field-infix">
                    <div [innerHTML]="info_case[0]?.content"></div>
                </mat-card>
            </div>
    </div>
    <div *ngIf="getCaseArray.value.length != 0">
        <p class="text_casos">
            <span>Casos añadidos</span>
        </p>
        <mat-list>
            <div mat-subheader><b>Casos glpi asociados:</b></div>
            <div *ngFor="let item of getCaseArray.value; let i = index">
                <mat-list-item>
                  <mat-icon mat-list-icon>
                      <img class="glpi" src="../../../assets/images/glpi_color_rojo.svg">
                  </mat-icon>
                  <div mat-line>{{item.applicant}}</div>
                  <div mat-line><b>GLPI:</b>{{item.numbercase}}</div>
                  <div>
                    <button mat-mini-fab color="warn" type="button" (click)="deleteCase(i)">
                        <mat-icon>
                            delete_outline
                        </mat-icon>
                    </button>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </div>
    <div mat-dialog-actions align="end" class="contenido">
        <button mat-button type="button" class="button--cancel" mat-dialog-close>Cancelar</button>
        <button mat-button type="submit" class="button--accept">Asignar</button>
    </div>
</form>
