body {
  padding: 0 20px ;
  height: calc(100vh - 75px) ;
}
.head {
    display: flex;
    padding-top: 2em;
}

.text {
    margin: auto;
    text-align: center;
}

.content {
    width: 100%;
}

.button--accept {
    display: block;
    margin-left: auto;
}

// TABLA
table {
    margin-top: 1em;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 6px 10px 3px #00000029;
}

th {
    border-color: transparent transparent #707070 transparent;
}

td {
    border-color: transparent;
}

.rowheader,
.row {
    text-align: center;
}

.rowheader {
    font-size: 1.3em;
    font-weight: bold;
    color: #9a9a9a;
}

.row {
    font-size: 1em;
    color: #787878;
}

.level {
    display: inline-block;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 1px 2.7em;
    font-size: 12px;
    font-weight: 500;
}

.none::after {
    font-size: 12px;
    background-color: #cccccc;
    color: #8a8a8a;
    content: 'No aplica';
    border-radius: 15px;
    padding: .3em 1.3em;
}

// .blue {
//     background-color: #a1d2e8;
// }

// .orange {
//     background-color: #f9aa6d;
// }

// .green {
//     background-color: #71de8e;
// }

mat-card:hover {
    cursor: pointer;
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.chip__status {
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 9px;
}

// .chip__status--active {
//     background-color: #D1EAD2;
//     color: #68BC6C;
//     padding: 3px 14px;
// }

// .chip__status--inactive {
//     background-color: #F5CFCC;
//     color: #E06055;
// }

.visualize, .history {
    border-radius: 100%;
    font-size: 18px;
    padding: 3px;
    font-weight: 600;
}
.visualize {
    background-color: #F2E3B8;
    color: #DE8219;
    box-shadow: 0px 0px 6px #F2E3B8;
}
.history {
  background-color: #eccec7;
  color: #d88874;
    box-shadow: 0px 0px 6px #F2E3B8;
}

.filter-inputs {
    min-height: 36.8px;
}

select .mat-form-field-infix {
    border-top: 0.1px solid transparent;
}

@media screen and (min-width: 1450px) {
    .content {
        font-size: 1.4em;
    }
    .layer {
        width: 45px;
        height: 45px;
    }
    .layer2 {
        width: 45px;
        height: 45px;
    }
    .chip__status {
        font-size: 14px;
        border-radius: 15px;
    }
    .filter-inputs {
        min-height: 45.8px;
    }
    @keyframes hover {
        0% {
            width: 45px;
        }
        100% {
            width: 100px;
            border-radius: 40px;
            font-size: 16px;
            padding-right: 15px;
        }
    }
}
