<body>
  <mat-drawer-container>
    <div class="head">
      <button
        routerLink="/profile-options"
        class="button-back"
        mat-mini-fab
        aria-label="back button"
      ></button>
      <div class="text">
        <h1 class="main-title">Gestionar Habilidades:</h1>
        <h2 class="main-subtitle">{{ name }}</h2>
      </div>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
      <app-history-base-teams [idHistory]="idHistory"></app-history-base-teams>
    </mat-drawer>

    <div class="content">
      <div class="button__container">
        <div class="layer2" (click)="openDialog()">
          <div mat-button class="layer">
            <mat-icon>add</mat-icon>
          </div>
          Añadir
        </div>
      </div>

      <div class="table__container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="profiles">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Perfiles
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input
                    matInput
                    class="filter"
                    (keyup)="applyFilter($event.target.value, 'charge')"
                    type="text"
                  />
                  <mat-icon class="icon-search" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">{{ element.charge }}</td>
          </ng-container>

          <ng-container matColumnDef="levels">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Niveles
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="applyDirectFilter($event)">
                    <mat-option value="">No Aplica</mat-option>
                    <mat-option value="n1">N1</mat-option>
                    <mat-option value="n2">N2</mat-option>
                    <mat-option value="n3">N3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">
              <div
                class="level"
                [ngClass]="{
                  none: !element.level,
                  'chip__level--n1': element.level == 'n1',
                  'chip__level--n2': element.level == 'n2',
                  'chip__level--n3': element.level == 'n3'
                }"
              >
                {{ element.level | uppercase }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Fecha De Creación
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input
                    matInput
                    class="filter"
                    (change)="applyFilter($event.target.value, 'createdAt')"
                    type="date"
                  />
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">
              {{ element?.createdAt | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Fecha De Actualización
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input
                    matInput
                    class="filter"
                    (change)="applyFilter($event.target.value, 'updatedAt')"
                    type="date"
                  />
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">
              {{ element?.updatedAt | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Estado
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="applyDirectFilter($event)">
                    <mat-option value="true">Activo</mat-option>
                    <mat-option value="false">Inactivo</mat-option>
                    <mat-option value="">Ver Todos</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">
              <div>
                <label
                  class="chip__status"
                  [ngClass]="{
                    'chip__status--active': element.status,
                    'chip__status--inactive': !element.status
                  }"
                  >{{ element?.status ? 'Activo' : 'Inactivo' }}</label
                >
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="rowheader">
              Acciones
              <div class="filter-inputs"></div>
            </th>
            <td mat-cell *matCellDef="let element" class="row">
              <button (click)="openDialog(element)" mat-icon-button class="button-edit">
                <mat-icon class="table__buttons edit" matTooltip="Editar Registro">edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="redirectToProfileTemplate(element._id)"
                class="button-visualize"
              >
                <mat-icon class="table__buttons visualize" matTooltip="Visualizar Personal"
                  >person</mat-icon
                >
              </button>
              <button
                mat-icon-button
                (click)="setIdHistory(element); drawer.toggle()"
                class="button-visualize"
              >
                <mat-icon class="table__buttons history" matTooltip="Visualizar Historial"
                  >history</mat-icon
                >
              </button>
            </td>
          </ng-container>

          <tr
            class="tr-rowheader"
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr class="tr-rows" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-drawer-container>
</body>
