.full-width {
  width: 100%;
  margin-bottom: 10px;
}

mat-card-title {
  font-size: large;
  border: 1px solid #ddd;
  padding: 10px 20px;
  background: #cfcece;
  border-radius: 5px;
  display: flex !important;
}

mat-form-field {
  margin: 10px;
}

mat-checkbox {
  width: 33.33333333% !important;
  float: left;
  text-transform: capitalize !important;
  margin: 10px 0px 10px 0px;
}

mat-card {
  box-shadow: none !important;
}

p{
  margin: 0% !important;
}

.radioProfesionalCard {
  width: 33.33% !important;
}

.referred {
  font-size: 11px;
}

.textareaObservations{
  height: 68px;
}

.newRegister{
  margin-right: 3%;
}

::ng-deep .mat-form-field-subscript-wrapper{
  top: 100% !important;
}

.deletePhone{
  height: 31px;
  align-items: center;
  margin: 10px 10px 0 0;
}

.block{
  display: block !important;
}

.center{
  text-align: center;
}

.inline-flex{
  width: 100%;
  display: inline-flex !important;
}

.flow-root{
  display: flow-root;
}

input.mat-input-element {
  margin-top: -1px;
}