<button class="snack__button" (click)="matSnackBarRef.dismiss()" mat-icon-button>
  <mat-icon class="snack__close-icon snack__close-icon--{{data.type}}">clear</mat-icon>
</button>
<div class="snack__content">
<mat-icon class="snack__icon snack__icon--{{data.type}}">{{data.icon}}</mat-icon>
  <div >
    <p class="snack__title snack__title--{{data.type}}">
      {{data.title}}
    </p>
    <p class="snack__subtitle snack__subtitle--{{data.type}}">{{data.message}}</p>
  </div>
</div>

<!-- <button (click)="matSnackBarRef.dismiss()">{{data.action}}</button> -->
