<body class="background">
    <button routerLink="/sites" class="button-back" mat-mini-fab aria-label="back button"></button>
<div  fxLayout="column">
    <div class="title__container">
        <h1 class="title">{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>

    <div class="container mat-elevation-z7">

        <form [formGroup]="formFilterHistory" novalidate autocomplete="off" fxLayout="row" class="filter_dates">
            <div class="item" fxFlex="25">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label>Fecha Inicial</mat-label>
                    <input placeholder="dd/mm/yyyy" (dateInput)="filterDateStart($event,'filterDate')" matInput [max]="maxDate" [matDatepicker]="pickerStart" formControlName="startDate" (click)="pickerStart.open()">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart" class="datePicker__icon"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="item" fxFlex="25">
                <mat-form-field floatLabel="always" appearance="none">
                    <mat-label>Fecha Final</mat-label>
                    <input placeholder="dd/mm/yyyy" (dateInput)="filterDateEnd($event,'filterDate')" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerEnd" formControlName="endDate" (click)="pickerEnd.open()">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd" class="datePicker__icon"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </form>

        <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre
                    <div class="filter-inputs">
                        <mat-form-field floatLabel="always" appearance="none">
                            <input matInput type="text"
                            autocomplete="off" [formControl]="name" (blur)="filterData($event.target.value,'nombre')">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.nombre | titlecase }} </td>
            </ng-container>

            <!-- Tipo Column -->
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo
                    <div class="filter-inputs">
                        <mat-form-field floatLabel="always" appearance="none">
                            <mat-select [formControl]="type" (selectionChange)="filterData($event.value,'tipo')">
                                <mat-option value="">Ver Todos</mat-option>
                                <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.tipo | titlecase }} </td>
            </ng-container>

            <!-- Micrositio Column -->
            <ng-container matColumnDef="micrositio">
                <th mat-header-cell *matHeaderCellDef> Micrositio
                    <div class="filter-inputs">
                        <mat-form-field floatLabel="always" appearance="none">
                            <input matInput type="text"
                            autocomplete="off" [formControl]="microsite" (keyup)="filterData($event.target.value,'micrositio')">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.micrositio }} </td>
            </ng-container>

            <!-- Sede Column -->
            <ng-container matColumnDef="sede">
                <th mat-header-cell *matHeaderCellDef> Sede
                    <div class="filter-inputs">
                        <mat-form-field floatLabel="always" appearance="none">
                            <mat-select [formControl]="campus" (selectionChange)="filterData($event.value,'sede')">
                                <mat-option value="">Ver Todos</mat-option>
                                <mat-option *ngFor="let venue of venues" [value]="venue.name">{{venue.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.sede }} </td>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha
                    <div class="filter-inputs actions_filter_input">
                        <mat-form-field floatLabel="always">
                          <input matInput class="filter" type="text" autocomplete="off">
                        </mat-form-field>
                      </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.fecha | date: 'dd/MM/yyyy HH:mm': 'UTC' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>

    <div align="end" class="botton_export">
        <!-- <button mat-fab color="warn" mat-button (click)="dat()">
            <mat-icon>download</mat-icon>
        </button> -->

        <button mat-fab color="warn" mat-button (click)="exporter.exportTable('xlsx',{fileName: nameFile()})">
            <mat-icon>download</mat-icon>
        </button>
    </div>
</div>
</body>