.background {
    background-color: #fff !important;
    background: url(../../../../assets/images/baseTeams_backgorund.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - (45px + 30px));
    background-attachment: fixed;
}

.container {
    // position: relative;
    top: 15px;
    margin: 0 100px;
    margin-bottom: 50px;
}

.title {
    color: #de1920;
    font-weight: bold;
    font-size: 2em;
}

.subtitle {
    text-align: center;
}

table[mat-table] {
    padding: 0px 50px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

td,
th {
    width: 25%;
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

.mat-header-cell {
    font-weight: 700;
    font-size: 13px;
}

.mat-cell {
    color: rgb(88, 88, 88);
}

.filter_dates{
    padding: 30px 0px 0px 78px;
}

.botton_export{
  float: right;
  padding-right: 25px;
  padding-bottom: 10px;
  position: sticky;
  bottom: 25px;
  display: flex;
  justify-content: flex-end;
}

.d_site{
    width: 200px;
}
