/* You can add global styles to this file, and also import other style files */

:root {
    // rojo seti: #c4382f
    --primary-color: #de1920;
    --secundary-color: #e6e6e6;
    --light-text: white;
    --light-bg: white;
    --dark-text: rgb(41, 41, 41);
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(243, 243, 243);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.button-back__icon {
  transform: scale(2);
  padding: 1em 2em 0;
}

/* Mat buttons */
mat-form-field {
    width: 100%;
}

.main-button {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 20px !important;
    padding: 0 2em !important;
}

.secondary-button {
    background-color: var(--secundary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 20px !important;
    padding: 0 2em !important;
}
.error.mat-snack-bar-container {
  background-color: #F5DDD6;
    border-left-style: solid;
    border-width: 6px;
    border-color: #DE8C75;
}
