.container {
  // position: relative;
  padding-top: 10px;
  top: 15px;
  margin: 0 100px;
  margin-bottom: 50px;
}

table {
  width: 100%;
  // background: url(../../../../assets/images/baseTeams_backgorund.svg);
  // background-attachment: fixed;
}

.title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

td,
th {
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: rgb(247, 247, 247);
}

.mat-header-cell {
  font-weight: 700;
  font-size: 13px;
}

.mat-cell {
  color: rgb(88, 88, 88);
}

.filter_dates {
  padding: 30px 0px 0px 78px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}