.container {
    padding: 12px 15px;
    width: 580px;
    height: 275px;
   //max-width: 40em;
   // max-height: 30em;
}

.title{
    color: #d8232a;
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    //position: center;
    //text-align: center;
}
  
.close-button {
    position: relative;
    bottom: 10px;
    left: 12px;
}

.close-button__icon {
    font-size: 18px;
    font-weight: 600;
    color: #5a5a5a;
    // #8a8a8a
}




  
 
  