<body>
  <mat-drawer-container>
    <button routerLink="/home" class="button-back" mat-mini-fab aria-label="back button"></button>
    <div class="header background">
      <div class="title__container">
        <h1 class="main-title">Administrar Maestros</h1>
        <h2 class="main-subtitle">{{ subtitle.name }}</h2>
      </div>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
      <app-history-master [masterSeleted]="masterSeleted" [idHistory]="idHistory"></app-history-master>
    </mat-drawer>

    <div class="main">
      <div fxLayout="row" fxLayoutAlign="start end">
        <div class="item" fxFlex="20">
          <mat-form-field floatLabel="always" appearance="none">
            <mat-label>Seleccionar maestro</mat-label>
            <mat-select #ej placeholder="Click para activar la lista" [(ngModel)]="masterSeleted"
              (selectionChange)="getDataMaster()">
              <mat-select-trigger>{{subtitle.name}}</mat-select-trigger>
              <mat-option *ngFor="let master of masters | orderAlphabetically:'name'" [value]="master.url">
                {{master.name}}
                <mat-icon matTooltipClass="custom-tooltip" [matTooltip]="master.sumary" class="content__icon"  >help </mat-icon>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="masterSeleted !== ''" class="button__container" fxLayoutAlign="end end">
          <div class="layer2" (click)="openDialog()">
            <div mat-button class="layer">
              <mat-icon>add</mat-icon>
            </div>
            Añadir
          </div>
        </div>
      </div>

      <div class="table__container">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Domain Column -->
          <ng-container matColumnDef="idDomain" sticky>
            <th mat-header-cell *matHeaderCellDef> Dominio
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="filterinfo($event.value,'domain.name')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let domain of domainList" [value]="domain.name">
                      {{domain.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngFor="let domain of element.domain">{{domain.name}}</ng-container>
            </td>
          </ng-container>
          <!-- Knowledge Area Column -->
          <ng-container matColumnDef="knowledgeArea" sticky>
            <th mat-header-cell *matHeaderCellDef> Área de conocimiento
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="filterinfo($event.value,'knowledgeArea')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let area of  knowledgeAreaList" [value]="area">
                      {{area}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container>{{element.knowledgeArea}}</ng-container>
            </td>
          </ng-container>

          <!-- Specific Knowledge Column -->
          <ng-container matColumnDef="specificKnowledge" sticky>
            <th mat-header-cell *matHeaderCellDef> Conocimiento Específico
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (keyup)="filterinfo($event.target.value,'specificKnowledge')" type="text">
                  <mat-icon class="icon-search" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="masterSeleted === 'courses-certifications'">
                <ng-container *ngFor="let knowledge of element.syllabi">{{knowledge.specificKnowledge}}</ng-container>
              </ng-container>
              <ng-container *ngIf="masterSeleted !== 'courses-certifications'">
                {{element.specificKnowledge}}
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef> Centro de estudio
              <div class="filter-inputs" >
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter filter__courses-certifications"
                  (keyup)="filterinfo($event.value,'name')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let element of platform"
                      [value]="element.name">
                      {{element.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
          </ng-container>
          <!-- fin de prueba de plataforma  -->



          <!--Technology Column -->
          <ng-container matColumnDef="technology">
            <th mat-header-cell *matHeaderCellDef> Tecnología
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (keyup)="filterinfo($event.target.value,'technology')" type="text">
                  <mat-icon class="icon-search" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.technology}} </td>
          </ng-container>

          <!--idTechnology Column -->
          <ng-container matColumnDef="idTechnology" sticky>
            <th mat-header-cell *matHeaderCellDef> Tecnología
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="filterinfo($event.value,'technology.technology')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let technology of technologyList" [value]="technology.technology">
                      {{technology.technology}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <div *ngIf="masterSeleted != 'courses-certifications'">
              <td  mat-cell *matCellDef="let element" >
                <ng-container *ngFor="let technology of element.technology">{{technology.technology}}</ng-container>
              </td>
            </div>
            <div *ngIf="masterSeleted === 'courses-certifications'">
              <td  mat-cell *matCellDef="let element" >
                <ng-container>{{element.technology}}</ng-container>
              </td>
            </div>

          </ng-container>

          <!-- version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Versión
            <div class="filter-inputs">
              <mat-form-field floatLabel="always" appearance="none">
                <input matInput class="filter" (keyup)="filterinfo($event.target.value,'version')" type="text"
                  autocomplete="off">
                <mat-icon
                  [ngClass]="{'icon-search-security' : masterSeleted == 'security-responsabilities', 'icon-search' : masterSeleted != 'security-responsabilities', 'icon-search-carousel': masterSeleted == 'member-carousel'}"
                  matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>




          <!-- formation Column -->
          <ng-container matColumnDef="formation">
            <th mat-header-cell *matHeaderCellDef> Formación
              <div class="filter-inputs" >
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter filter__courses-certifications"
                    (selectionChange)="filterinfo($event.value,'formation')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let element of formationList"
                      [value]="element.name">
                      {{element.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.formation}} </td>
          </ng-container>


          <!-- Reference Column -->
          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> Maestro
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (keyup)="filterinfo($event.target.value,'masterReference')" type="text">
                  <mat-icon class="icon-search" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.masterReference}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (keyup)="filterinfo($event.target.value,'name')" type="text"
                    autocomplete="off">
                  <mat-icon
                    [ngClass]="{'icon-search-security' : masterSeleted == 'security-responsabilities', 'icon-search' : masterSeleted != 'security-responsabilities', 'icon-search-carousel': masterSeleted == 'member-carousel'}"
                    matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>



          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (keyup)="filterinfo($event.target.value,'description')" type="text"
                    autocomplete="off">
                  <mat-icon class="icon-description" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>


          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter filter__courses-certifications"
                    (selectionChange)="filterinfo($event.value,'type')">
                    <mat-option [value]="''">
                      Ver Todos
                    </mat-option>
                    <mat-option *ngFor="let type of types"
                      [value]="type.name">
                      {{type.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- CreatedAt Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef matSort> Fecha de creación
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (change)="filterinfo($event.target.value,'createdAt')" type="date">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <!-- UpdatedAt Column -->
          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef matSort>Fecha de actualización
              <div class="filter-inputs">
                <mat-form-field floatLabel="always" appearance="none">
                  <input matInput class="filter" (change)="filterinfo($event.target.value,'updatedAt')" type="date">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado
              <div class="filter-inputs filter-inputs__status">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="filterinfo($event.value,'status')">
                    <mat-option value="">
                      Ver Todos
                    </mat-option>
                    <mat-option value="true">Activo</mat-option>
                    <mat-option value="false">Inactivo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div>
                <label class="chip__status"
                  [ngClass]="{'chip__status--active':element.status,'chip__status--inactive':!element.status}">{{element.status
                  ? 'Activo' : 'Inactivo'}}</label>
              </div>
            </td>
          </ng-container>

          <!-- subMenu Column -->
          <ng-container matColumnDef="submenu">
            <th mat-header-cell *matHeaderCellDef> Subgrupo
              <div class="filter-inputs filter-inputs__status">
                <mat-form-field floatLabel="always" appearance="none">
                  <mat-select class="filter" (selectionChange)="applyDirectFilter($event.value)">
                    <mat-option value="true">Sí</mat-option>
                    <mat-option value="false">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="submenu">
              <div>
                <label class="chip__status"
                  [ngClass]="{'chip__status--active':element.submenu,'chip__status--inactive':!element.submenu}">{{element.submenu
                  ? 'Sí' : 'No'}}</label>
              </div>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Acciones
              <div class="filter-inputs filter-inputs__status"></div>
            </th>
            <td mat-cell *matCellDef="let element" class="actions">
              <button mat-icon-button (click)="openDialog(element)">
                <mat-icon class="table__buttons edit">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="setId(element);drawer.toggle()">
                <mat-icon class="table__buttons history">history</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </table>
      </div>

    </div>

  </mat-drawer-container>
</body>
