.background {
    background-color: #fff !important;
    background-image: url('../../../../assets/images/adminmasters_background.svg');
    background-size: 90% 100%;
    background-position: top;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}

.title {
    color: var(--primary-color);
    font-size: 39px;
    line-height: 52px;
    text-align: center;
    margin-top: 15px;
}

.main {
    margin: 0px 30px;
}

table {
    width: 100%;
}

button {
    margin: 0 8px 8px 0;
}

mat-icon {
    border: 1px solid #a1d2e8;
    color: #a1d2e8;
}
